@use 'styles/base' as *;

.container {
  background: $blue-900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 16px solid $bronx-orange;
  height: 542px;
  overflow: hidden;

  @media (max-width: $mobile-max) {
    height: 542px;
    overflow: hidden;
  }
}
