@use 'styles/base' as *;

.container {
  width: 648px;
  @media (min-width: $desktop-min) {
    height: 80px;
  }
  margin-top: 24px;

  @media (max-width: $mobile-max) {
    margin-bottom: 12px;
    width: 80%;
  }
}

.text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 32px;
  color: $gray-50;
  margin: 0px;
}
