@use 'styles/base' as *;

.container {
  @extend %header-input-container;
  @extend %form-row-flex-child-left;

  label {
    font-size: 14px;
  }

  select {
    @extend %text-input;
    min-height: 42px;
    max-width: 374px;
  }
}
