@use 'styles/base' as *;

.header {
  @extend %left-align-vertical;

  @media (min-width: $desktop-min) {
    padding-bottom: 28px;
  }

  p {
    color: $gray-600;
    font-size: 24px;
    margin: 0;
    display: block;
    @media (max-width: $mobile-max) {
      display: none;
    }

  }

  strong {
    color: $blue-900;
    font-size: 48px;
    margin-top: 18px;
    display: block;

    @media (max-width: $mobile-max) {
      font-size: 36px;
      font-weight: 600;
    }
  }
}

.directions {
  @extend %left-align-vertical;
  font-size: 20px;
  line-height: 30px;
  color: $blue-900;
  @media (max-width: $mobile-max) {
    font-size: 16px;
    color: $gray-600;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 0px;
    width: 90%;

    ol {
      margin: 0;
    }
  }
  @media (min-width: $desktop-min) {
    ol {
      padding-left: 26px;
    }
  }
}
