@use 'styles/base' as *;

.header {
  @extend %left-align-vertical;
  padding-bottom: 28px;

  p {
    color: $gray-800;
    font-size: 24px;
    margin: 0;
    display: block;
  }

  strong {
    color: $blue-900;
    font-size: 48px;
    margin-top: 18px;
    display: block;
  }
}
