@use 'styles/base' as *;

.header {
  @extend %left-align-vertical;

  strong {
    color: $blue;
    font-size: $h2-size;
  }

  p {
    margin-top: 16px;
    margin-bottom: 80px;
    font-size: $h3-size;
  }
}
