@use 'styles/base' as *;

.container {
  @extend %header-input-container;
  @extend %form-row-flex-child-right;
  padding-top: 8px;
  padding-top: 8px;

  label {
    font-size: 14px;
  }

  input {
    @extend %text-input;
    max-width: 374px;
  }
}
