@use 'styles/base' as *;

.container {
  @extend %header-input-container;
  padding-top: 24px;
  width: 80%;

  label {
    font-size: 14px;
  }

  input {
    @extend %text-input;
    max-width: 374px;
  }
}
