@use 'styles/base' as *;

.body {
  @extend %body;
}

.header {
  @extend %home-align-left;
  padding-bottom: 28px;
  padding-top: 120px;
  @media (max-width: $mobile-max) {
    padding-top: 0px;
  }

  p {
    color: $gray-600;
    font-size: 24px;
    margin: 0;
    display: block;
  }

  strong {
    color: $blue-900;
    font-size: 48px;
    margin-top: 18px;
    display: block;

    @media (max-width: $mobile-max) {
      font-size: 36px;
    }
  }
}

.thanks {
  @extend %home-align-left;
  margin-bottom: 48px;

  p {
    color: $gray-800;
    font-size: 24px;
  }

  figcaption {
    color: $gray-800;
    font-size: 16px;
    max-width: 80%;
    margin-top: 66px;
  }
}

.layout {
  @extend %home-align-left;
  @extend %home-align-right;
  margin-bottom: 48px;

  @media (min-width: $desktop-min) {
    padding-left: 8%;
  }

  header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: $gray-800;
    padding-top: 40px;
  }

  .checkBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $mobile-max) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    width: 60%;
    margin: 40px auto 0px auto;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: $mobile-max) {
        margin-top: 12px;
      }
    }

    input {
      min-width: 24px;
      min-height: 24px;
      margin-left: 36px;
      margin-right: 12px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .actuals, .localSubmission, .averages {
    padding: 6px 12px;
    border-radius: 4px;
    color: $gray-800;
    &:hover {
      cursor: pointer;
    }
  }

  .actuals {
    background-color: $gray-500-faded;
  }

  .localSubmission {
    background-color: $bronx-orange-faded;
  }

  .averages {
    background-color: $blue-900-faded;
  }
}

.googleFormContainer {

  border-left: 8px solid $bronx-orange;
  background: $white;
  padding: 24px 8%;
  max-width: 65%;
  border-radius: 8px;
  margin-top: 66px;
  @media (max-width: $mobile-max) {
    min-width: 70%;
  }

  h1 {
    color: $gray-800;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  p {
    color: $blue-900;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  button {
    @include button-colors(
      $border-color: $blue-900,
      $background-color: $blue-900,
      $text-color: $white
    );
    @extend %big-button;

  }

}
