@use 'styles/base' as *;

.text {
  font-size: 56px;
  color: $blue-900;
  font-weight: bold;
  margin: 26px 0px 0px 0px;
  text-align: center;
  @media (max-width: $mobile-max) {
    font-size: 36px;
    text-align: left;
    padding-left: 8%;
  }
}
