@use 'styles/base' as *;

.container {
  width: 0px;
  height: 0px;
  @media (max-width: $mobile-max) {
    margin: 0 auto;
  }
}

.container > div {

  @media (min-width: $desktop-min) {
    position: relative;
    top: -34px;
    left: 118px;
    min-width: 91px;
    height: 88px;
  }

  @media (max-width: $mobile-max) {
    position: relative;
    top: -24px;
    left: -180px;
    min-width: 70px;
    height: 67px;
  }

  div {
    position: absolute;
  }
}
