@use 'styles/base' as *;

.container {
  background: $blue-900;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-min) {
    height: 277px;
    overflow: hidden;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    height: 360px;
  }
}
