@use 'styles/base' as *;

.container {

  @media (min-width: $desktop-min) {
    margin-right: 10%;
    width: 330px;
    height: 80px;
  }
  @media (max-width: $mobile-max) {
    margin-bottom: 24px;
    width: 80%;
  }
}

.text {
  font-size: 36px;
  color: $gray-50;
  margin: 0px;
}
