@use 'styles/base' as *;
@import "bourbon";

.body {
  background-color: $color-background;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  font-family: $font-stack-helvetica;
  color: $black;
  min-width: 1065px;
}

.form {
  margin: 0;
  padding: 120px 100px 200px 100px;
  min-width: 580px;
}
