@use 'styles/base' as *;

.container {
  display: flex;
  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.accordionTopMobile {
  @media (min-width: $desktop-min) {
    display: none;
  }

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;

  .lineBreak {
    border-top: 1px solid $gray-200;
    width: 92%;
    margin: 20px auto;
  }

  .mobileAccordionInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.mobileLabelAllocate, .mobileLabelDetails {

  @media (min-width: $desktop-min) {
    display: none;
  }

  color: $gray-400;
  font-size: 12px;
}

.mobileLabelDetails {
  @extend %left-align-vertical;
  background-color: $white;
}

.accordionContentLeft {
  @extend %form-row-flex-child-left;
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: $gray-50;

  @media (max-width: $mobile-max) {
    background-color: $white;
  }

  p {
    margin: 0;
    margin-right: 48px;
    font-size: 16px;
    line-height: 20px;
  }
}

.accordionContentRight {
  @extend %form-row-flex-child-right;
  padding-top: 16px;
  padding-bottom: 32px;

  @media (max-width: $mobile-max) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $white;
  }
}
