@use 'styles/base' as *;

.container {
  display: flex;
  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.accordionTopMobile {
  @media (min-width: $desktop-min) {
    display: none;
  }

  display: flex;
  align-items: center;
  flex-direction: column;

  .lineBreak {
    border-top: 1px solid $gray-200;
    width: 92%;
    margin: 20px auto;
  }

  .mobileAccordionInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.accordionContentLeft {
  @extend %form-row-flex-child-left;
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: $gray-50;

  p {
    margin: 0;
    margin-right: 48px;
    font-size: 16px;
    line-height: 20px;
  }
}

.accordionContentRight {
  @extend %form-row-flex-child-right;
  padding-top: 16px;
  padding-bottom: 32px;
}
