@use 'styles/base' as *;

.container {
  @extend %form-row-flex-child-left;
  position: relative;
  background-color: $gray-50;

  @media (max-width: $mobile-max) {
    background: none;
  }

  svg {
    position: absolute;
    right: 16px;
    top: 5px;
    padding: 4px;
    color: $gray-600;
  }

  label {
    display: block;
    color: $gray-600;
    font-size: 20px;
    margin-right: 42px;
  }

  p {
    margin: 0;
    padding: 6px 0px;
    color: $gray-600;
    font-size: 20px;

    @media (max-width: $mobile-max) {
      display: none;
    }

    span {
      font-size: 14px;
      display: inline;
      color: $gray-400;
    }
  }

  svg:hover, label:hover, p:hover {
    cursor: pointer;
  }
}
