@use 'styles/base' as *;

.container {
  @extend %form-row-flex-child-left;
  position: relative;
  background-color: $gray-50;
  transition: background-color 0.1s ease;

  @media (max-width: $mobile-max) {
    background: none;
    display: flex;
  }

  @media (min-width: $desktop-min) {
    &:hover {
      background-color: #F0F2F5;
      cursor: pointer;
    }
  }

  svg {
    @media (min-width: $desktop-min) {
      position: absolute;
      right: 16px;
      top: 13px;
      padding: 4px;
      color: $gray-600;
    }

    @media (max-width: $mobile-max) {
      position: relative;
      top: 2px;
    }
  }

  label {
    display: block;
    color: $gray-600;
    font-size: 20px;
    margin-right: 42px;

    @media (max-width: $mobile-max) {
      font-weight: 500;
      margin-right: 8px;
      margin-bottom: 8px;
      max-width: 90%;
    }
  }

  p {
    margin: 0;
    padding: 6px 0px;
    color: $gray-600;
    font-size: 20px;

    @media (max-width: $mobile-max) {
      display: none;
    }

    span {
      font-size: 14px;
      display: inline;
      color: $gray-400;
    }
  }

  svg:hover, label:hover, p:hover {
    cursor: pointer;
  }
}
