@use 'styles/base' as *;

.button {
  @media (min-width: $desktop-min) {
    @include button-colors(
      $border-color: $blue-50,
      $background-color: $blue-50,
      $text-color: $blue-900
    );
  }
  @extend %little-button;
  margin-left: 24px;

  @media (max-width: $mobile-max) {
    @include button-colors(
      $border-color: $blue-900,
      $background-color: $blue-900,
      $text-color: $blue-50
    );
    border: 0;
    min-width: 70px;
    font-weight: 600;
    margin-top: 0px;
  }
}
