@use 'styles/base' as *;

.container {
  @media (min-width: $desktop-min) {
    display: none;
  }
  .label {
    position: relative;
    display: inline-block;
    color: $blue-900;
    font-weight: 600;
  }
}
