@use 'styles/base' as *;

.container {
  @media (min-width: $desktop-min) {
    display: none;
  }
  display: flex;
  flex-direction: column;

  .label {
    position: relative;
    max-width: 40px;
    color: $blue-900;
    font-weight: 600;
  }

  .subLabel {
    position: relative;
    max-height: 14px;
    color: $gray-500;
    font-weight: 600;
  }
}
