@use 'styles/base' as *;

.button {
  transition: background-color 0.25s ease;
  transition: border-color 0.25s ease;
  @media (min-width: $desktop-min) {
    @include button-colors(
      $border-color: $blue-50,
      $background-color: $blue-50,
      $text-color: $blue-900
    );
    padding-top: 4px;
    &:hover {
      background-color: $blue-100;
      border-color: $blue-100;
    }
  }
  @extend %little-button;
  margin-left: 12px;
  margin-right: 22px;

  @media (max-width: $mobile-max) {
    @include button-colors(
      $border-color: $blue-900,
      $background-color: $blue-900,
      $text-color: $blue-50
    );
    border: 0px solid $blue-900;
    margin-left: 0px;
    min-width: 70px;
    font-weight: 600;
    margin-top: 0px;
  }
}
