@use 'styles/base' as *;

.container {
  display: flex;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    background-color: $color-background;
    padding: 8px 0px;
    border-bottom: 1px solid $gray-200;
    border-left: 6px solid $color-background;
  }
}

.containerSelected {
  display: flex;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    background-color: #1E3A8A02;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    padding: 8px 0px 20px 0px;
    border-left: 6px solid $bronx-orange;
  }
}
