@use 'styles/base' as *;

.inputAndPercentage {
  display: flex;
  align-items: center;
  position: relative;

  input {
    @extend %text-input;
    width: 107px;

    @media (max-width: $mobile-max) {
      margin-top: 0px;
      border: 0px;
      border-radius: 0px;
      border-bottom: 2px solid $blue-900;
      font-size: 32px;
      color: $blue-900;
    }
  }

  .after {
    font-size: $p1-size;
    position: absolute;
    right: 6px;
    top: 22px;
    color: $gray-500;

    @media (max-width: $mobile-max) {
      top: 1px;
      font-size: 32px;
      color: $blue-900;
    }
  }
}

.caption {
  font-size: $p2-size;
  color: $sort-of-light-grey;
  padding-top: 4px;

  @media (max-width: $mobile-max) {
    display: none;
  }
}
