@use 'styles/base' as *;

.inputAndPercentage {
  display: flex;
  align-items: center;
  position: relative;

  input {
    @extend %text-input;
    width: 107px;
  }

  .after {
    font-size: $p1-size;
    position: absolute;
    right: 6px;
    top: 22px;
    color: $gray-500;
  }
}

.caption {
  font-size: $p2-size;
  color: $sort-of-light-grey;
  padding-top: 4px;
}
