@use 'styles/base' as *;

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @extend %home-align-left;
  @extend %home-align-right;
  background: $color-background;

  .left, .right {
    flex: 1;
  }

  h1 {
    color: $blue-900;
    font-weight: normal;
    font-size: 36px;
    @media (max-width: $mobile-max) {
      font-size: 24px;
      font-weight: 500;
    }
    margin: 0;
  }

  p {
    color: $blue-900;
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    margin-bottom: 8px;
  }

  h3 {
    font-weight: 400;
    color: $blue-900;
    font-size: 24px;
    line-height: 36px;
  }

  a, a:link, a:visited {
    font-weight: 700;
    text-decoration: underline;
    line-height: 24px;
    font-size: 16px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-min) {

    min-height: 574px;
    padding-top: 84px;
    padding-bottom: 84px;

    .left {
      margin: 60px 50px 0px 0px;
      min-width: 226px;
      max-width: 680px;
    }

    .right {
      margin: 60px;

      div {
        height: 36px;
        width: 178px;
      }
    }
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;

    .left {
      margin: 45px 0px;
    }

    .middle, .right {
      display: none;
    }
  }
}
