@use 'styles/base' as *;

.container {
  border-top: 16px solid $bronx-orange;
  @extend %about-align-left;
  @extend %about-align-right;
  padding-top: 130px;
  padding-bottom: 130px;
  @media (max-width: $mobile-max) {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 48px;
  }

  .content {

    h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: $blue-900;
    }

    .columns {

      display: flex;
      @media (max-width: $mobile-max) {
        flex-direction: column;
      }

      p {
        color: $gray-500;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        flex: 1;
      }

      .spacer {
        width: 64px;
      }

    }
  }
}
