@use 'styles/base' as *;

.container {
  display: flex;

  position: -webkit-sticky;
  position: sticky;
  z-index: 101;

  @media (max-width: $mobile-max) {
    top: -80px;
    flex-direction: column;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .05);
  }

  @media (min-width: $desktop-min) {
    top: -24px;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .03);
  }

  p {
    margin: 0px;
  }
}

%gray-500-label {
  font-size: 16px;
  font-weight: 600;
  color: $gray-500;
}

%grey-label {
  font-size: 13px;
  color: $gray-500;
}

.one {
  @extend %form-heading-flex-child-left;
  background-color: $gray-50;
  border-top-left-radius: 8px;
}

.two {
  @extend %form-heading-flex-child-right;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-max) {
    padding-bottom: 0px;
  }

  @media (min-width: $desktop-min) {
    background-color: $white;
  }

}

.one, .two {
  padding-top: 34px;

  @media (max-width: $mobile-max) {
    background-color: $color-background;
    padding-top: 0px;
  }
}

.one label, .two label {
  @extend %gray-500-label;
}

.one p, .two p, .two figcaption {
  @extend %grey-label;
}

.billions {
  font-size: 24px;
  color: $blue-900;
  @media (max-width: $mobile-max) {
    font-size: 20px;
  }
}

.allocated {
  font-size: 24px;
  color: $blue-900;
  @media (max-width: $mobile-max) {
    font-size: 20px;
  }
}

.overAmount {
  font-size: 24px;
  color: $blue-900;
  @media (max-width: $mobile-max) {
    font-size: 20px;
  }
}

.leftSub {
  text-align: left;
}

.rightSub {
  text-align: right;
  @media (max-width: $mobile-max) {
    .middle {
      padding-left: 8px;
      border-left: 1px solid $gray-300;
      min-width: 190px;
    }
  }
}

.top {
  margin-bottom: 22px;
  height: 16px
}

.middle {
  @media (min-width: $desktop-min) {
    height: 49px;
    margin-bottom: 8px;
  }
  margin-bottom: 21px;
}

.bottom {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

// hide the reset link on mobile
@media (max-width: $mobile-max) {
  .two {
    .rightSub {
      .top {
        label {
          display: none;
        }
      }
    }
  }
}
