@use 'styles/base' as *;

.container {
  display: flex;

  p {
    margin: 0px;
  }
}

%gray-500-label {
  font-size: 16px;
  font-weight: bold;
  color: $gray-500;
}

%grey-label {
  font-size: 13px;
  color: $gray-500;
}

.left {
  @extend %form-row-flex-child-left;
  background-color: $gray-50;
  border-top-left-radius: 8px;
}

.right {
  @extend %form-row-flex-child-right;
  display: flex;
  justify-content: space-between;
}

.left, .right {
  padding-top: 34px;
}

.left label, .right label {
  @extend %gray-500-label;
}

.left p, .right p, .right figcaption {
  @extend %grey-label;
}

.billions {
  font-size: 24px;
  color: $blue-900;
}

.allocated {
  font-size: 24px;
  color: $blue-900;
  font-weight: bold;
}

.overAmount {
  font-size: 24px;
  color: $red-800;
  font-weight: bold;
}

.rightSub {
  text-align: right;
}

.top {
  margin-bottom: 22px;
}

.middle {
  height: 49px;
  margin-bottom: 21px;
}
