@use 'styles/base' as *;

.container {
  display: flex;
  background-color: $gray-50;
  @extend %form-row-flex-child-left;
  position: relative;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    background-color: $color-background;
    padding: 8px 0px;
    border-bottom: 1px solid $gray-200;
    border-left: 6px solid $color-background;
  }
}
