@use 'styles/base' as *;

.button {
  @include button-colors(
    $border-color: $blue-900,
    $background-color: $blue-900,
    $text-color: $white
  );
  @extend %big-button;
  @media (min-width: $desktop-min) {
    margin-left: 12px;
  }
}
