@use 'styles/base' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-size: $p1-size;
    font-weight: bold;
  }

  span {
    font-size: $p1-size;
  }

  figcaption {
    font-size: $p2-size;
  }
}

.left {
  @extend %form-row-flex-child-left;
  background: $gray-50;
  height: 120px;
}

.right {
  @extend %form-row-flex-child-right;
  height: 120px;
}

.row {
  
}
