@use 'styles/base' as *;

.container {
  background: $color-background;
  display: flex;
  @extend %home-align-left;
  padding-top: 50px;
  align-items: center;
  height: 450px;
  padding-bottom: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 288px;
}

.right {
  flex: 2;
  align-items: center;
  margin: auto 55px;

  img {
  max-height: 340px;
  }
}
