@use 'styles/base' as *;

.container {
  background: $color-background;
  display: flex;
  @extend %home-align-left;
  padding-top: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 55px;
}

.right {
  flex: 2;
  margin-right: 56px;
}
