/* home page! */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900';

$blue-900: #1E3A8A;
$home-background: #E5E5E5;
$blue-50: #EFF6FF;
$gray-800: #1F2937;
$gray-700: #374151;
$gray-600: #4B5563;
$gray-500: #6B7280;
$gray-400: #9CA3AF;
$gray-300: #D1D5DB;
$gray-200: #E5E7EB;
$gray-50: #F9FAFB;
$red-800: #991B1B;
$divider-gray: #9CA3AF;
$bronx-orange: #EF7053;

/* survey page! */

// body colors
$color-background: #F6F6F7;
$color-base: #F5F5F5;
$white: #FFFFFF;
$black: #4B5563;

// font colors
$light-grey: #939393;
$very-light-grey: #B2B2B2;
$sort-of-light-grey: #636363;

// button colors
$red: #C91E1E;
$blue: #1E62C9;
$button-background: #F9F9F9;

// chart label colors with opacities
$bronx-orange-faded: #EF705350;
$blue-900-faded: #1E3A8A50;
$gray-500-faded: #6B728050;

// font sizes
$h1-size: 60.8px;
$h2-size: 40.5px;
$h3-size: 27px;
$p1-size: 18px;
$p2-size: 13px;

// media breakpoints
$mobile-max: 960px;
$desktop-min: 961px;

/* home page! */

%home-align-left {
  @media (min-width: $desktop-min) {
    padding-left: 237px;
  }

  @media (max-width: $mobile-max) {
    padding-left: 16px;
  }
}

%home-align-right {
  @media (min-width: $desktop-min) {
    padding-right: 237px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-max) {
    padding-right: 16px;
    box-sizing: border-box;
  }
}

/* survey page! */

// spacings
$form-outer-padding: 54px;
$form-inner-padding: 74px;

%body {
  background-color: $color-background;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: $black;
  a {
    color: $blue-900;
  }
  @media (max-width: $mobile-max) {
    overflow: visible;
  }
}


// form button stuff
@mixin button-colors($border-color, $background-color, $text-color) {
  border-color: $border-color;
  background-color: $background-color;
  color: $text-color;
}

%big-button {
  width: 211px;
  height: 62px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: $p1-size;
  border-width: 3px;
  border-style: solid;

  @media (max-width: $mobile-max) {
    width: 90%;
  }
}

%little-button {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  margin: 8px 0px 16px 0px;
  font-size: $h3-size;
  border-radius: 6px;
  padding: 0px 6px;
  // filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  // box-shadow: inset 0px 4px 8px 2px rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-style: solid;

  @media (max-width: $mobile-max) {
    max-width: 48px;
    min-width: 48px;
    width: 48px;
    height: 48px;
    margin: 14px 0px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    box-shadow: inset 0px 4px 8px 2px rgba(255, 255, 255, 0.2);
  }
}

%big-button:hover, %little-button:hover {
  cursor: pointer;
}

// align various form content along left vertical axis
%left-align-vertical {
  @media (min-width: $desktop-min) {
    padding-left: $form-inner-padding;
  }

  @media (max-width: $mobile-max) {
    padding-left: 16px;
  }
}

%right-align-vertical {
  @media (min-width: $desktop-min) {
    padding-right: $form-inner-padding;
  }

  @media (max-width: $mobile-max) {
    padding-right: 16px;
  }
}

// form row - one third
%form-row-flex-child-left {
  flex: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: $form-inner-padding;

  @media (max-width: $mobile-max) {
    padding-left: 16px;
    padding-right: 0px;
  }
}

// form row - two thirds
%form-row-flex-child-right {
  padding-bottom: 16px;
  padding-left: 48px;
  padding-right: $form-inner-padding;
  flex: 2;

  @media (max-width: $mobile-max) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

// form
%header-input-container {
  display: flex;
  flex-direction: column;
}

// form text input
%text-input {
  @media (max-width: $mobile-max) {
    -webkit-appearance: none;
    width: 95%;
    background: $white;
  }
  font-size: $p1-size;
  border-radius: 8px;
  border: 1px solid #7B7B7B;
  padding: 6px;
  height: 29px;
  @media (min-width: $desktop-min) {
    max-width: 216px;
  }
  margin-top: 12px;
  color: $black;
}
