@import "bourbon";

// body colors
$color-background: #E5E5E5;
$color-base: #F5F5F5;
$white: #FFFFFF;
$black: #151515;

// font colors
$light-grey: #939393;
$very-light-grey: #B2B2B2;
$sort-of-light-grey: #636363;

// button colors
$red: #C91E1E;
$blue: #1E62C9;
$button-background: #F9F9F9;

// font sizes
$h1-size: 60.8px;
$h2-size: 40.5px;
$h3-size: 27px;
$p1-size: 18px;
$p2-size: 13px;

.body {
  background-color: $color-background;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  font-family: $font-stack-helvetica;
  color: $black;
  min-width: 1065px;

  .form {
    background-color: $color-base;
    margin: 0;
    padding: 120px 100px 200px 100px;
    min-width: 580px;

    .formTitle {
      font-size: $h2-size;
      margin-left: 90px;

      strong {
        color: $blue;
      }

      p {
        margin-top: 16px;
        margin-bottom: 80px;
      }
    }

    .localeDetails {
      display: flex;
      margin-bottom: 36px;
      font-size: $p1-size;
      margin-left: 42px;
      padding: 0px 48px;

      div {
        flex: 1;

        label {
          display: block;
          padding-bottom: 6px;
        }
      }

      select, input {
        font-size: $p1-size;
        border-radius: 8px;
        border: 1px solid #7B7B7B;
        padding: 6px;
      }
    }

    .formBody {
      background-color: $white;
      border-radius: 8px;

      .formLabelsRow {
        padding: 36px 48px 12px 48px;
        display: flex;
        margin-left: 42px;

        .formLabel {
          flex: 1;
          color: $light-grey;

          label {
            font-size: $p1-size;
            font-weight: bold;
            padding-bottom: 6px;
            color: $blue
          }

          p {
            font-size: $p2-size;
          }
        }
      }

      .formRow, .formRowCombo {
        padding: 0px 48px;
        display: flex;

        .formRowSectionHover,
        .formRowSection,
        .formRowSectionSlider,
        .formRowSectionPercentageAsText,
        .formRowSectionAmountAsText,
        .formRowSectionIncremental,
        .formRowSectionCombo {
          flex: 1;
          display: flex;
          align-items: center;
          margin: 12px;

          label {
            padding-left: 18px;
          }
        }

        .formRowSectionHover:hover {
          cursor: pointer;
        }

        .categoryTitle {
          font-weight: bold;
          font-size: $p1-size;
          padding-left: 8px;
        }

        .formRowSectionSlider {
          flex-direction: column;
          align-items: baseline;

          input[type=range]{
            width: 100%;
          }

        }

        .formRowSectionPercentageAsText {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          input[type=text] {
            font-size: $p1-size;
            border-radius: 8px;
            border: 1px solid #7B7B7B;
            padding: 4px;
            width: 64px;
            margin-right: 2px;
            text-align:right;
          }

          .beforeInput {
            font-size: $p1-size;
            margin-right: 2px;
          }

          .afterInput {
            font-size: $p1-size;
            margin-right: 12px;
          }
        }

        .formRowSectionAmountAsText {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          input[type=text] {
            font-size: $p1-size;
            border-radius: 8px;
            border: 1px solid #7B7B7B;
            padding: 4px;
            width: 96px;
            margin-right: 2px;
            text-align:left;
          }

          .beforeInput {
            font-size: $p1-size;
            margin-right: 2px;
          }

          .afterInput {
            font-size: $p1-size;
            margin-right: 12px;
          }

          figcaption {
            width: 48px;
            max-width: 48px;
          }

        }

        .formRowSectionIncremental {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .incrementalInputWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }

          .beforeInput {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .decreaseButtonOne {
              border: 1px solid $red;
              border-radius: 4px;
              color: $red;
              background-color: $white;
              padding: 6px;
              margin-right: 4px;
            }

            .decreaseButtonPointOne {
              border: 1px solid $red;
              border-radius: 4px;
              color: $white;
              background-color: $red;
              padding: 6px;
              margin-right: 4px;
            }

          }

          .afterInput {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .increaseButtonPointOne {
              border: 1px solid $blue;
              border-radius: 4px;
              color: $white;
              background-color: $blue;
              padding: 6px;
              margin-right: 4px;
            }

            .increaseButtonOne {
              border: 1px solid $blue;
              border-radius: 4px;
              color: $blue;
              background-color: $white;
              padding: 6px;
              margin-right: 4px;
            }

          }

          figcaption {
            width: 48px;
            max-width: 48px;
          }
        }

      }

      .formRowCombo {

        .formRowSection {
          padding-left: 33px;
          color: $light-grey
        }

        .spaghettiDiv {
          flex: 1;
        }

        .formRowSectionCombo {
          flex: 2;
          padding-left: 48px;
          position: relative;

          input[type=range]{
            width: 100%;
          }

          input[type=text] {
            font-size: $p1-size;
            border-radius: 8px;
            border: 1px solid #7B7B7B;
            padding: 4px;
            width: 64px;
            margin-right: 2px;
            text-align:right;
          }


          .decreaseButtonPointOne {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            margin: 12px;
            margin-left: 0px;
            font-size: $h3-size;
            border: 1px solid $red;
            border-radius: 4px;
            color: $white;
            background-color: $red;
            padding: 0px 6px;
            width: 28px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: inset 2px 5px 5px rgba(247, 247, 247, 0.25);
          }

          .increaseButtonPointOne {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            margin: 12px;
            font-size: $h3-size;
            border: 1px solid $blue;
            border-radius: 4px;
            color: $white;
            background-color: $blue;
            padding: 0px 6px;
            width: 28px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: inset 2px 5px 5px rgba(247, 247, 247, 0.25);
          }

          .increaseButtonPointOne:hover, .decreaseButtonPointOne:hover {
            cursor: pointer;
          }

          figcaption {
            color: $sort-of-light-grey;
            font-size: $p2-size;
            position: absolute;
            bottom: -2px;
            right: -6px;
            min-width: 96px;
          }

        }

      }

      .accordionTextWrapper {
        margin: 0px 44px;
        font-size: $p1-size;
      }

      .formFooterLineBreak {
        width: 88%;
        height: 0px;
        border-top: 1px solid $very-light-grey;
        margin: 0 auto;
      }

      .formFooterRow {
        display: flex;
        justify-content: flex-end;
        margin-top: 18px;

        .formFooterRowContentsSurplus {
          display: flex;
          padding: 0px 48px;
          margin-bottom: 18px;

          label {
            margin-right: 18px;
            padding: 8px;
            color: $light-grey;
          }

          div {
            border: 1px solid blue;
            padding: 8px;
            border-radius: 8px;
          }

          span {
            display: none;
          }
        }

        .formFooterRowContentsTotalPercentage {
          display: flex;
          padding: 0px 48px;
          margin-bottom: 18px;

          label {
            margin-right: 18px;
            padding: 8px;
            color: $light-grey;
          }

          div {
            border: 1px solid blue;
            padding: 8px;
            border-radius: 8px;
          }

          span {
            margin-right: 48px;
            padding: 8px;
            color: $light-grey;

          }
        }

        .formFooterRowContentsTotalAmount {
          display: flex;
          padding: 0px 48px;
          margin-bottom: 18px;

          label {
            margin-right: 18px;
            padding: 8px;
            color: $light-grey;
          }

          div {
            border: 1px solid blue;
            padding: 8px;
            border-radius: 8px;
          }

          span {
            margin-right: 48px;
            padding: 8px;
            color: $light-grey;

          }
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;

      button:hover {
        cursor: pointer;
      }

      .leftButtons {

        margin: 12px 18px;

        .buttonReset {
          border: 3px solid $red;
          background-color: $button-background;
          color: $red;
          border-radius: 8px;
          margin: 12px 18px;
          width: 156px;
          height: 48px;
          font-size: $p1-size;
        }

        .buttonSnap {
          border: 3px solid $blue;
          background-color: $button-background;
          color: $blue;
          border-radius: 8px;
          margin: 12px 18px;
          width: 156px;
          height: 48px;
          font-size: $p1-size;
        }
      }

      .rightButtons {

        margin: 12px 18px;

        .buttonSubmit {
          border: 3px solid $blue;
          background-color: $blue;
          color: $white;
          border-radius: 8px;
          margin: 12px 18px;
          width: 156px;
          height: 48px;
          font-size: $p1-size;
        }
      }
    }
  }
}
